body {
    background: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: none;
    border-radius: 12px;
}

.btn-success {
    background-color: #2d7a42;
    border-color: #2d7a42;
}

.btn-success:hover {
    background-color: #256535;
    border-color: #256535;
}
